doctype html
html
  head
    script(src='//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/react.js')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/js/bundle.js')
    script(src='/socket.io/socket.io.js')
    title= title
  body
    #results
    #board
    #newgame New Game