doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    -each script in scripts 
      script(type='text/javascript', src= script)
    script(type='text/jsx', src='/javascripts/tic-tac-toe.js')


  body
    block content