body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#board {
  width: 66vh;
  height: 66vh;
}

.cell {
  font-size: 19vh;
  float: left;
  height: 22vh;
  border: 1px solid #83AFE1;
}

