body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#board {
  position: absolute;
  width: 66vh;
  height: 66vh;
  border: 5px solid red;
  
}

.cell {
  float: left;
  width: 21vh;
  height: 21vh;
  border: 1px solid red;
}

